<section class="client-section">
    <div class="grid grid-colx3 client-details">
        <div class="client__contents">
        <div class="client__rectangle">
        </div>
        <h4 class="client__name">Jonathan Doe</h4>
        <h5 class="client__designation">Co Founder</h5>
        <p class="client__quote">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Tenetur, hic aperiam corporis illum quibusdam illo ullam pariatur quam incidunt sapiente?
        </p>
        </div>

        <div class="client__contents">
            <div class="client__rectangle">
            </div>
            <h4 class="client__name">Jonathan Doe</h4>
            <h5 class="client__designation">Co Founder</h5>
            <p class="client__quote">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Tenetur, hic aperiam corporis illum quibusdam illo ullam pariatur quam incidunt sapiente?
            </p>
            </div>

            <div class="client__contents">
                <div class="client__rectangle">
                </div>
                <h4 class="client__name">Jonathan Doe</h4>
                <h5 class="client__designation">Co Founder</h5>
                <p class="client__quote">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Tenetur, hic aperiam corporis illum quibusdam illo ullam pariatur quam incidunt sapiente?
                </p>
            </div>    
    </div>
    <div class="client-partner">
        <img class="icon partner__icon" src="./images/partner-logo-1.png">
        <img class="icon partner__icon" src="./images/partner-logo-4.png">
        <img class="icon partner__icon" src="./images/partner-logo-5.png">
        <img class="icon partner__icon" src="./images/partner-logo-7.png">
        <img class="icon partner__icon" src="./images/partner-logo-8.png">
    </div>

</section>