
    <section class="description-section">
        <div class="trapezoid trapezoid-skew__right">

        </div>
        <div class="grid grid-colx2 description-details">
           <img class="description__image" src="./images/macbook.png">
           <div class="description-content">
               <h3 class="description__heading">New design</h3>
               <p class="description__mainParagraph">Response design, just need your tap 
                <span class="design__dot">...</span>
            </p>
            <p class="descrption__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Dolores dicta libero obcaecati aliquam facere temporibus
                 ipsa dolorem earum fuga ex fugit id provident soluta consequatur deleniti rerum quae, quam perferendis.
            </p>
           </div>
        </div>

    </section>
