<section class="feature-section">
    <div class="feature-content">
        <h3 class="design__heading">New features</h3>
        <p class="design__mainParagraph">Some awesome features</p>
    </div>
    <div class="grid grid-colx3 feature-details">
        <div class="feature">
                <img class="icon" src="./images/picture.png">
            <h4 class="feature__heading">Some awesome features</h4>
            <p class="feature__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Asperiores, hic! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, corporis?
            </p>
        </div>
        
        <div class="feature">
            <img class="icon" src="./images/airplane.png">
            <h4 class="feature__heading">Some awesome features</h4>
            <p class="feature__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Asperiores, hic! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, corporis?
            </p>
            
        </div>

        <div class="feature">
           <img class="icon" src="./images/bulb.png">
            <h4 class="feature__heading">Some awesome features</h4>
            <p class="feature__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Asperiores, hic! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, corporis?
            </p>
        </div>
     </div>
</section>
 