
    <footer class="footer-section">
        <div class="footer-rectangle">

        </div>
        <div class="grid grid-colx4 footer-contents">
            <div class="footer-content">
                <p class="logo__text">Start Ex</p>
                <p class="address__text">Lorem ipsum dolor sit amet <br> consectetur adipisicing elit.<br> Cumque, sit? <br>
                    USA & CANADA <br> 1-888-123-4567 <br> Address: 34 Brooklyn NY.
                </p>
            </div>
            <div class="footer-content">
                <h4 class="footer__heading">Support</h4>
                <a href="#">Help Center</a>
                <a href="#">Get Started</a>
                <a href="#">Contact Us</a>
            </div>
   
            <div class="footer-content">
               <h4 class="footer__heading">About Us</h4>
               <a href="#">About Us</a>
               <a href="#">Terms of Service</a>
               <a href="#">Privacy Policy</a>
           </div>
           
           <div class="footer-content">
               <h4 class="footer__heading">Get Newsletter</h4>
               <div class="newsletter">
                   <input class="newsletter-email" type="email" placeholder="Email">
                   <input class="newsletter-submit" type="submit" value="Sub">
                </div>
           </div>
        </div>
    </footer>