<section class="grid grid-colx2 design-grid design-section">
    <div class= "design-content">
        <h3 class="design__heading">New Design</h3>
        <p class="design__mainParagraph">There is no other platforms <br> for you as like <span class="design__dot">....</span></p>
        <p class="design__paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Rem dolor natus illum? Minus amet ipsa eos a, dolorum harum, consequatur maxime praesentium et sapiente eius quibusdam nesciunt expedita placeat! Saepe quos quis nisi cumque, explicabo eveniet porro voluptatem! 
            Ea assumenda ab nesciunt numquam inventore perferendis accusamus ullam sint aperiam ad.</p>
        <p class="design__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt saepe unde dolores dolor, nam quas autem odit. 
            Eveniet, amet vel laborum dolorum cumque, quae et illum magni qui, voluptatum quos!</p>  
    </div>
    <div class="design-rectangle">
        <div class="design-triangle design__triangle_skew_right">

        </div>
    </div>
 </section>