<section class="tryNow-section">
    <div class="tryNow-contents">
        <h3 class="tryNow__heading">new features</h3>
        <p class="tryNow__mainParagraph">Over 1000 designers are using ...</p>
    </div>
    <form class="grid grid-colx4 input-form">
        <input class="input" type="text" placeholder="FULLNAME">
        <input class="input" type="text" placeholder="YOUR EMAIL">
        <input class="input" type="text" placeholder="PASSWORD">
        <div class="arrow-Button">
            <div class="arrow__text">
                <i class="fa-solid fa-arrow-rotate-left arrow"></i>
                <p class="arrow__paragraph">30 days free trial for all.</p>
            </div>
            
            <button class="btn btn--large">try now</button>
        </div>
    </form>
    <div class="tryNow-paragraph">
        <p class="tryNow__paragraph">By Signing up you agree to our 
            <a href="#">terms & Conditions</a></p>
    </div>
</section>